
@use "sass:map";
@import "../../styles/variables";

#form-units-add {
  max-width: 40rem;
}

.unit-details {
  flex-grow: 1;
  margin-right: 1rem;
}

.unit-rating {
  width: 20rem;
}

@media (max-width: map.get($breakpoints, "md")) {
  #form-units-add {
    margin-left: 32px;
    margin-right: 32px;
  }

  .unit-details, .unit-rating {
    width: 100% !important;
  }
}
