
$primary-text-color: #FFFFFF;
$secondary-text-color: #000000;
$light-text-color: #000000;
$error-text-color: #FFFFFF;
$muted-text-color: #8B949E;
$nav-text-color: #333A48;

$primary-color: #1C221D;
$secondary-color: #86B7FE;
$light-color: #F8F9FA;
$error-color: #EF233C;
$success-color: #198754;
$sidebar-color: #FFFFFF;
$border-color: #8D99AE;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
