
@use "sass:map";
@import "variables";

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", serif;
  line-height: 1.5;
  user-select: none;
}

#root { display: contents; }

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 { font-size: 1.25rem; }
h4 { font-size: 1.15rem; }

a {
  text-decoration: none;
  color: blue;

  &:hover {
    color: darken(blue, 20%);
  }
}

.text-sm { font-size: .9rem !important; }
.text-center { text-align: center !important; }
.text-primary { color: $primary-color !important; }
.text-muted { color: $muted-text-color !important; }

.f-bold { font-weight: bold; }

.mt-1, .my-1, .m-1 { margin-top: .25rem !important; }
.mt-2, .my-2, .m-2 { margin-top: .5rem !important; }
.mt-3, .my-3, .m-3 { margin-top: 1rem !important; }
.mt-4, .my-4, .m-4 { margin-top: 1.5rem !important; }
.mb-1, .my-1, .m-1 { margin-bottom: .25rem !important; }
.mb-2, .my-2, .m-2 { margin-bottom: .5rem !important; }
.mb-3, .my-3, .m-3 { margin-bottom: 1rem !important; }
.mb-4, .my-4, .m-4 { margin-bottom: 1.5rem !important; }
.ml-1, .mx-1, .m-1 { margin-left: .25rem !important; }
.ml-2, .mx-2, .m-2 { margin-left: .5rem !important; }
.ml-3, .mx-3, .m-3 { margin-left: 1rem !important; }
.ml-4, .mx-4, .m-4 { margin-left: 1.5rem !important; }
.mr-1, .mx-1, .m-1 { margin-right: .25rem !important; }
.mr-2, .mx-2, .m-2 { margin-right: .5rem !important; }
.mr-3, .mx-3, .m-3 { margin-right: 1rem !important; }
.mr-4, .mx-4, .m-4 { margin-right: 1.5rem !important; }
.ml-auto, .mx-auto { margin-left: auto !important; }
.mr-auto, .mx-auto { margin-right: auto !important; }

.p-1 { padding: .25rem !important; }
.p-2 { padding: .5rem !important; }
.p-3 { padding: 1rem !important; }
.p-4 { padding: 1.5rem !important; }

.d-block { display: block !important; }
.d-none { display: none !important; }
.d-flex { display: flex !important; }

@media (max-width: map.get($breakpoints, "md")) {
  .d-md-block { display: block !important; }
  .d-md-none { display: none !important; }
  .d-md-flex { display: flex !important; }
}

@media (max-width: map.get($breakpoints, "lg")) {
  .d-lg-block { display: block !important; }
  .d-lg-none { display: none !important; }
  .d-lg-flex { display: flex !important; }
}

.flex-column { flex-direction: column; }
.flex-1 { flex-grow: 1; }
.flex-baseline { align-items: baseline; }
.flex-space-between { justify-content: space-between; }
.flex-space-around { justify-content: space-around; }
.flex-wrap { flex-wrap: wrap; }

.align-items-stretch { align-items: stretch; }

.align-self-start { align-self: flex-start; }
.align-self-center { align-self: center; }

.col-6 { width: 50%; }
.col-12 { width: 100%; }

.fa {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.form-group {
  display: block;

  &:not(.form-check) label {
    display: block;
    margin-bottom: 4px;
  }

  input[type="file"] {
    width: 100%;
  }

  input[type="checkbox"] {
    margin-right: .5rem;
    border: 1px solid $border-color;
  }

  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="search"],
  input[type="number"],
  input[type="datetime-local"] {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    border: 1px solid $border-color;
    border-radius: 4px;
    background-clip: padding-box;
    font-size: 1rem;
    line-height: 1.5;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &:focus {
      border-color: $secondary-color;
      box-shadow: 0 0 0 .1rem rgba($secondary-color, 25%);
      outline: 0;
    }
  }

  input[readonly], input:disabled {
    color: #3F3F3F;
    cursor: default;
  }
}

.form-actions {
  & > button { margin-right: 8px; }
}

.border-top { border-top: 1px solid $border-color; }
.border-left { border-left: 1px solid $border-color; }
.border-bottom { border-bottom: 1px solid $border-color; }
.border-right { border-right: 1px solid $border-color; }

.box {
  border: 1px solid $border-color;
  padding: .375rem .75rem;
  border-radius: 4px;

  &.box-error {
    border-color: $error-color;
    background-color: lighten($error-color, 45%);
  }

  &.box-success {
    border-color: $success-color;
    background-color: lighten($success-color, 65%);
  }
}

.btn {
  display: inline-block;
  padding: .5rem .85rem;
  border: 1px solid $primary-color;
  border-radius: 4px;
  background-color: $primary-color;
  line-height: 1;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-family: inherit;
  font-size: 1rem;
  color: $primary-text-color;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;

  &:hover, &:focus {
    color: $primary-text-color;
    background-color: darken($primary-color, 5%);
    border-color: darken($primary-color, 5%);
  }

  &:disabled {
    background-color: lighten($primary-color, 25%);
    border-color: lighten($primary-color, 25%);
    cursor: default;
  }

  &.btn-secondary {
    border: 1px solid $secondary-color;
    background-color: $secondary-color;
    color: $secondary-text-color;

    &:hover, &:focus {
      color: $secondary-text-color;
      background-color: darken($secondary-color, 5%);
      border-color: darken($secondary-color, 5%);
    }

    &:disabled {
      background-color: lighten($secondary-color, 25%);
      border-color: lighten($secondary-color, 25%);
      cursor: default;
    }
  }

  &.btn-light {
    border: 1px solid $light-color;
    background-color: $light-color;
    color: $light-text-color;

    &:hover, &:focus {
      color: $light-text-color;
      background-color: darken($light-color, 5%);
      border-color: darken($light-color, 5%);
    }

    &:disabled {
      background-color: lighten($light-color, 25%);
      border-color: lighten($light-color, 25%);
      cursor: default;
    }
  }

  &.btn-danger {
    border: 1px solid $error-color;
    background-color: $error-color;
    color: $error-text-color;

    &:hover, &:focus {
      color: $error-text-color;
      background-color: darken($error-color, 5%);
      border-color: darken($error-color, 5%);
    }

    &:disabled {
      background-color: lighten($error-color, 25%);
      border-color: lighten($error-color, 25%);
      cursor: default;
    }
  }
}

.btn-block {
  width: 100%;
}

.alert {
  strong {
    font-weight: bold;
  }

  &.alert-sm {
    font-size: .85rem;
  }
}
