
@use "sass:map";
@import "../../styles/variables";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 48px;
  height: 64px;
  border-bottom: 1px solid $border-color;
  background-color: $primary-color;
  color: $primary-text-color;

  .header-brand {
    display: flex;
    align-items: center;
  }

  .header-btns {
    height: 24px;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

#sidebar-toggle {
  padding: 8px;
}

#dropdown-header {
  margin-left: -25px;
  &:before { left: 28px; }
}

.sidebar {
  min-width: 225px;
  min-height: calc(100vh - 64px);
  padding: 24px;
  background-color: $sidebar-color;
  border-right: 1px solid $border-color;
  box-shadow: 0 6px 8px 2px lighten($border-color, 10%);
  z-index: 20;

  a {
    display: block;
    color: $nav-text-color;

    &.active { color: darken($nav-text-color, 40%); }
    &:hover { color: darken($nav-text-color, 20%); }
  }

  h3 {
    font-size: .9rem;
    font-weight: 600;
  }
}

.main {
  flex-grow: 1;
}

@media (max-width: map.get($breakpoints, "md")) {
  .header { padding: 0 16px; }

  .sidebar {
    position: absolute;
    top: 64px;
    left: -300px;
    min-width: 200px;
    transition: left .15s ease-in-out;

    &.active {
      left: 0;
    }
  }

  #sidebar-toggle {
    display: initial !important;
    cursor: pointer;
  }
}

.selectize-input {
  border-color: $border-color !important;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  &.focus {
    border-color: $secondary-color !important;
    box-shadow: 0 0 0 .1rem rgba($secondary-color, 25%);
    outline: 0;
  }
}
